<!DOCTYPE html>
<html>
<head>
    <title>DevOps Monitoring App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="container">
        <h1>Flask DevOps Monitoring App</h1>

        <p>Application deployed successfully using:</p>

        <ul>
            <li>GitHub</li>
            <li>Jenkins CI/CD</li>
            <li>Docker</li>
            <li>Prometheus</li>
            <li>Grafana</li>
        </ul>

        <p>Status: RUNNING</p>
    </div>

</body>
</html>
